html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0px;
}

.header {
  background-color: #1f2937;
  display: flex;
  height: 100px;
  max-width: 100%;
  margin: 0px;
  justify-content: center;
}
.logoText {
  font-size: 24px;
  color: #f9faf8;
}

.main {
  display: flex;
  background-color: #1f2937;
  height: 400px;
  padding-top: 40px;
  justify-content: center;
}

.mainText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mainTitle {
  font-size: 48px;
  color: #f9faf8;
  font-weight: extra-bold;
}
.mainSignup {
  color: #f9faf8;
  background: #3882f6;
  padding: 10px 30px;
  border-radius: 8px;
}
.mainSubtext {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: -20px;
}
.mainPlaceholder {
  display: flex;
  justify-content: center;
  height: 250px;
  width: 520px;
  background-color: #bbb7b7;
  margin-left: 50px;
}
.placeholderText {
  color: #e5e7eb;
  margin-top: 120px;
}

.logo {
  display: flex;
  padding: 20px;
  margin-right: 300px;
}
.links {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 40px;
}
button {
  background: none;
  margin-left: 25px;
  color: #e5e7eb;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 18px;
}

.info {
  background-color: #f9faf8;
  height: 400px;
}
.quote {
  background-color: #e5e7eb;
  height: 400px;
  font-family: light italic;
}

footer {
  background-color: #371f32;
  display: flex;
  height: 75px;
  max-width: 100%;
  justify-content: end;
}
