html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0%;
}

.header {
  background-color: #1f2937;
  display: flex;
  height: 100px;
  max-width: 100%;
  margin: 0px;
  justify-content: center;
}
h1 {
  font-size: 24px;
  color: #f9faf8;
}
.links {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.main {
  background-color: #1f2937;
}
.info {
}
.quote {
}

footer {
  background-color: #1f2937;
  display: flex;
  height: 75px;
  max-width: 100%;
  justify-content: end;
}
